nav {
    ul {
        display: flex;
        align-items: center;
        gap: 2rem;

        li {
            display: inherit;
            align-items: center;
            gap: 2rem;

            a {
                color: var(--neutral-color-normal);
            }

            &:not(:last-of-type)::after {
                content: "/";
            }
        }
    }
}
