:host > div {
    background-color: var(--neutral-color-light);
    box-shadow: var(--box-shadow-soft);

    width: 30rem;

    border-radius: 20px;

    transition: transform 200ms ease-in;

    &:hover {
        box-shadow: var(--box-shadow-hard);

        transform: translateY(-1rem);
    }

    .card-title {
        text-align: left;
    }

    .card-description > p {
        overflow: hidden;

        width: 100%;

        text-overflow: ellipsis;

        white-space: nowrap;
    }

    .card-price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.2rem;
    }

    .card-add-to-cart {
        background-color: var(--primary-color-normal);
        color: var(--neutral-color-lighter);

        &:hover {
            background-color: var(--primary-color-dark);
        }
    }

    > div {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        padding: var(--card-padding);
    }

    img {
        width: 100%;

        border-radius: 20px 20px 0 0;
    }
}
