<img [src]="imageSrc" alt="" loading="lazy" />

<div class="card-body">
    <a [routerLink]="linkToGamePage">
        <h2 [title]="game.name">{{ game.name }}</h2>
    </a>

    <p>{{ game.summary }}</p>

    <div class="card-body__price">
        <i class="far fa-coins icon-special"></i>

        <p>
            {{ game.priceOnSale }}
            <span class="additional-info">{{ levelCoin }}</span>
        </p>
    </div>

    <button class="add-to-cart-btn" (click)="cartService.addToList(game)">{{ addToCart }}</button>
</div>
