<img [src]="'cover_big' | imageSource: game.cover.id" alt="" />

<div class="card-body">
    <a [routerLink]="navigateToGamePage">
        <h2 [title]="game.name">{{ game.name }}</h2>
    </a>

    <p>{{ game.summary }}</p>

    <div class="card-body__price">
        <i class="far fa-coins icon-special"></i>

        <p>
            {{ game.price || DASH }}
            <span class="supporting-text">لول کوین</span>
        </p>
    </div>

    <button class="card-add-to-cart-btn" (click)="cartService.addToList(game)">اضافه کردن به سبد خرید</button>
</div>
