li {
    img {
        inline-size: 100%;
        aspect-ratio: 7 / 3;
        object-fit: cover;
    }

    .content {
        --p-line-height: 1.8rem;

        background-color: var(--content-color-background);

        backdrop-filter: blur(0.5rem);

        direction: ltr;

        position: absolute;
        inset-block-end: 10rem;
        inset-inline-start: 10rem;

        inline-size: 40%;

        padding: 3rem;

        border-radius: var(--border-radius-normal);

        text-align: left;

        h1,
        p {
            color: var(--neutral-color-lighter);
        }

        p {
            overflow: hidden;

            block-size: calc(3 * var(--p-line-height));

            margin-block-start: 1.2rem;

            line-height: var(--p-line-height);
        }

        a {
            color: var(--neutral-color-lighter);

            display: inline-block;

            margin-block-start: 1.6rem;

            padding: 0.8rem 1.6rem;

            border: 0.1rem solid var(--neutral-color-lighter);
            border-radius: var(--border-radius-small);

            text-decoration: none;

            &:hover {
                background-color: var(--neutral-color-lighter);
                color: var(--neutral-color-darker);
            }
        }
    }
}
