<footer>
    <div class="container">
        <div class="row">
            <a routerLink="/" aria-label="لول آپ" class="link">
                <img src="/assets/logo/logo-light.svg" alt="لوگو لول آپ" class="logo"/>
            </a>
            <h2 class="footer-title">با ما همراه باشید!</h2>
            <ul class="social">
                <li><a href="instagram.com" class="footer-icon"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="telegram.me" class="footer-icon"><i class="fa-brands fa-telegram"></i></a></li>
                <li><a href="facebook.com" class="footer-icon"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="twiiter.com" class="footer-icon"><i class="fa-brands fa-twitter"></i></a></li>

            </ul>
        </div>
        <div class="row">
            <h2 class="footer-title">خدمات مشتریان</h2>
            <ul class="links">
                <li><a routerLink="/faq" class="footer-link">پرسش های متداول</a></li>
                <li><a routerLink="/how-to-use" class="footer-link">شرایط استفاده</a></li>
                <li><a routerLink="/refund" class="footer-link">رویه بازگشت کالا</a></li>
                <li><a routerLink="/discounts" class="footer-link">تخفیف ها</a></li>
                <li><a routerLink="/report" class="footer-link">گزارش مشکل</a></li>
            </ul>
        </div>

        <div class="row">
            <h2 class="footer-title">راهنمای خرید</h2>
            <ul class="links">
                <li><a routerLink="/credit" class="footer-link">واحد اعتباری فروشگاه</a></li>
                <li><a routerLink="/purchase" class="footer-link">نحوه ثبت سفارش</a></li>
                <li><a routerLink="/sending" class="footer-link">نحوه تحویل سفارش</a></li>
            </ul>
        </div>


        <div class="row">
            <h2 class="footer-title">تماس با ما</h2>
            <ul class="links">
                <li>آدرس: <a routerLink="/address" class="footer-link">تبریز، ولیعصر، برج تجارت جهانی، طبقه ششم</a></li>
                <li>تلفن: <a href="tel:0413-316-9725" class="footer-link" dir="ltr">0413-316-9725</a></li>
                <li>ایمیل: <a href="mailto:support@levelup.com" class="footer-link">support@levelup.com</a></li>
            </ul>
        </div>
    </div>
</footer>