footer {
    background-image: linear-gradient(to top right, var(--secondary-color-4), var(--secondary-color-2));

    color: var(--neutral-color-1);

    width: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12.8rem;

    max-width: 140rem;

    margin: 0 auto;
    padding: 7.2rem 2.4rem;
}

.row {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    max-width: 20rem;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    list-style: none;
}

.social {
    display: flex;
    align-items: center;
    justify-content: space-between;

    list-style: none;
}

.footer-icon {
    font-size: 1.8rem;

    transition: 0.3s;

    &:hover {
        color: var(--primary-color-3);
    }
}

.link {
    cursor: pointer;
}

.logo {
    height: 6.2rem;
}

@media (max-width: 75em) {
    .container {
        gap: 7.4rem;
    }
}

@media (max-width: 59em) {
    .container {
        justify-content: center;
        gap: 3rem;
    }
}

@media (max-width: 38em) {
    .container {
        justify-content: flex-start;
        gap: 3rem;
    }
}
