<footer>
    <div>
        <a href="#" aria-label="لول آپ">
            <img src="assets/logo/logo-light.svg" alt="لوگو لول آپ" class="logo" />
        </a>
        <h2>با ما همراه باشید!</h2>
        <ul class="social">
            <li>
                <a href="https://instagram.com">
                    <i title="instagram" class="fa-brands fa-instagram"></i>
                </a>
            </li>
            <li>
                <a href="https://telegram.me">
                    <i title="telegram" class="fa-brands fa-telegram"></i>
                </a>
            </li>
        </ul>
    </div>

    <div>
        <h2>خدمات مشتریان</h2>
        <ul class="links">
            <li *ngFor="let service of CUSTOMER_SERVICE">
                <a>{{ service }}</a>
            </li>
        </ul>
    </div>

    <div>
        <h2>راهنمای خرید</h2>
        <ul class="links">
            <li *ngFor="let guide of SHOPPING_GUIDE">
                <a>{{ guide }}</a>
            </li>
        </ul>
    </div>

    <div>
        <h2>تماس با ما</h2>
        <ul class="links">
            <li>آدرس: تبریز، ولیعصر، برج تجارت جهانی، طبقه ششم</li>
            <li>تلفن: <a href="tel:0413-316-9725" class="visual-link t-number">0413-316-9725</a></li>
            <li>ایمیل: <a href="mailto:support@levelup.com" class="visual-link">support@levelup.com</a></li>
        </ul>
    </div>
</footer>
