:host {
    margin-block-start: auto;

    footer {
        background-image: linear-gradient(to top right, var(--secondary-color-dark), var(--secondary-color-light));

        color: var(--neutral-color-lighter);

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        row-gap: 3.6rem;

        inline-size: 100%;

        margin-block-start: auto;

        padding: 4.8rem var(--content-inline-padding);

        .footer-section {
            display: flex;
            flex-direction: column;
            gap: 1.6rem;

            max-inline-size: 20rem;

            .social {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 2.4rem;

                list-style: none;

                a {
                    font-size: 1.8rem;

                    &:hover {
                        color: var(--primary-color-normal);
                    }
                }
            }

            .links {
                display: flex;
                flex-direction: column;
                gap: 1.2rem;

                list-style: none;

                address {
                    font-style: unset;

                    line-height: 2rem;
                }

                i {
                    padding-inline-end: 1.2rem;

                    font-size: var(--font-size-paragraph);
                }

                .phone-number {
                    display: inline-block;
                }
            }

            .logo {
                block-size: 6.2rem;

                cursor: pointer;
            }

            .visual-link {
                text-decoration: underline;
            }

            li {
                font-size: var(--font-size-detail);
            }
        }
    }
}
