<footer>
    <div class="footer-section">
        <a href="#" aria-label="لول آپ">
            <img src="assets/logo/logo-light.svg" alt="لوگو لول آپ" class="logo" />
        </a>

        <h2>با ما همراه باشید!</h2>

        <ul class="social">
            <li>
                <a href="https://instagram.com">
                    <i title="Instagram" class="fa-brands fa-instagram"></i>
                </a>
            </li>

            <li>
                <a href="https://telegram.me">
                    <i title="Telegram" class="fa-brands fa-telegram"></i>
                </a>
            </li>
        </ul>
    </div>

    <div class="footer-section">
        <h2>خدمات مشتریان</h2>

        <ul class="links">
            <li *ngFor="let service of CUSTOMER_SERVICE">
                <a>{{ service }}</a>
            </li>
        </ul>
    </div>

    <div class="footer-section">
        <h2>راهنمای خرید</h2>

        <ul class="links">
            <li *ngFor="let guide of SHOPPING_GUIDE">
                <a>{{ guide }}</a>
            </li>
        </ul>
    </div>

    <div class="footer-section">
        <h2>تماس با ما</h2>

        <ul class="links">
            <li>
                <address>
                    <i class="far fa-location-dot"></i>
                    <a
                        class="visual-link"
                        href="https://www.google.com/maps/place/Shahid+Beheshti/@35.7297682,51.4289069,16z/data=!4m5!3m4!1s0x3f8e0159e6f2fcc5:0x302eb0a1a8b24100!8m2!3d35.7309462!4d51.427062"
                        >تبریز، ولیعصر، برج تجارت جهانی، طبقه ششم
                    </a>
                </address>
            </li>

            <li>
                <i class="far fa-phone-flip"></i>
                <a href="tel:0413-316-9725" class="visual-link phone-number" dir="ltr">0413-316-9725</a>
            </li>

            <li>
                <i class="far fa-at"></i>
                <a href="mailto:support@levelup.com" class="visual-link">support@levelup.com</a>
            </li>
        </ul>
    </div>
</footer>
