button {
    display: flex;
    align-items: center;
    gap: 0.4rem;

    padding: 0.6rem;
}

.rows {
    overflow: hidden;

    display: flex;
    flex-direction: column;

    min-inline-size: 28rem;
    inline-size: max-content;

    border-radius: var(--border-radius-normal);

    a {
        display: grid;
        grid-template-columns: 1.5rem 1fr auto;
        align-items: center;
        gap: 1rem;

        padding: 2rem;

        text-decoration: none;

        &:last-child:hover {
            background-color: var(--error-color);
        }

        &:hover {
            background-color: var(--primary-color-normal);

            p,
            i {
                color: var(--neutral-color-lighter);
            }
        }
    }
}
