<header>
    <a routerLink="/">
        <img src="assets/logo/logo-dark.svg" alt="لوگو لول آپ" />
    </a>

    <app-divider-vertical></app-divider-vertical>

    <form *ngIf="windowInnerWidth > 850 || mobileSearchBoxShown" (submit)="searchSubmitHandler($event)">
        <app-search-box [(searchWord)]="filterService.options.searchPhrase"></app-search-box>
    </form>

    <div title="لول کوین" *ngIf="authService.isUserLoggedIn">
        <span>504</span>
        <button>
            <i class="far fa-coins icon-special"></i>
        </button>
    </div>

    <button>
        <i class="far fa-shopping-cart icon"></i>
    </button>

    <button class="mobile-search-icon" (click)="mobileSearchBoxShown = !mobileSearchBoxShown">
        <i class="far fa-magnifying-glass icon"></i>
    </button>

    <app-divider-vertical></app-divider-vertical>

    <app-header-profile-access></app-header-profile-access>
</header>
