<header>
    <a routerLink="/">
        <img src="assets/logo/logo-dark.svg" alt="لوگو لول آپ" />
    </a>

    <app-divider-vertical></app-divider-vertical>

    <app-search-box></app-search-box>

    <div title="لول کوین">
        <span>504</span>
        <button>
            <i class="far fa-coins icon-special"></i>
        </button>
    </div>

    <button>
        <i class="far fa-shopping-cart icon"></i>
    </button>

    <app-divider-vertical></app-divider-vertical>

    <app-header-profile-access></app-header-profile-access>
</header>
