<header>
    <a routerLink="/" aria-label="لول آپ">
        <img src="assets/logo/logo-dark.svg" alt="لوگو لول آپ" />
    </a>
    <app-divider-vertical></app-divider-vertical>
    <app-search-box></app-search-box>
    <div class="credit" title="لول کوین">
        <span class="credit-amount">504</span>
        <button>
            <i class="far fa-coins icon-special"></i>
        </button>
    </div>

    <button>
        <i class="far fa-shopping-cart icon"></i>
    </button>

    <app-divider-vertical></app-divider-vertical>

    <button class="container-user">
        <i class="far fa-user icon"></i>
        <i class="far fa-angle-down icon"></i>
    </button>
</header>
