header {
    display: flex;
    align-items: center;
    gap: 1.6rem;

    inline-size: 100%;

    padding: 1.2rem var(--content-inline-padding);

    img {
        height: 6.2rem;

        cursor: pointer;
    }

    > div {
        display: flex;
        align-items: center;

        span {
            font-size: var(--font-size-detail);
            font-weight: 700;

            line-height: 1;
        }
    }

    button {
        padding: 0.6rem;

        line-height: 0;
    }

    form {
        background-color: var(--neutral-color-lighter);

        margin-inline-end: auto;

        padding: 0.8rem 1.6rem;

        border: 1px solid var(--neutral-color-light);
        border-radius: 999rem;

        &:focus-within {
            border: 1px solid var(--primary-color-normal);
        }
    }
}

@media (max-width: 44em) {
    app-search-box,
    .credit,
    app-divider-vertical {
        display: none;
    }
}
