header {
    display: flex;
    align-items: center;
    gap: 1.2rem;

    width: 100%;

    padding: 1.2rem var(--content-inline-padding);

    img {
        height: 6.2rem;

        cursor: pointer;
    }

    .auth-button {
        display: flex;
        align-items: center;
        gap: 0.4rem;
    }

    > div {
        display: flex;
        align-items: center;

        margin-inline-start: auto;

        span {
            font-size: var(--font-size-paragraph);
            font-weight: 700;
        }
    }
}

@media (max-width: 44em) {
    app-search-box,
    .credit,
    app-divider-vertical {
        display: none;
    }
}

.rows {
    overflow: hidden;

    display: flex;
    flex-direction: column;

    min-inline-size: 28rem;
    inline-size: max-content;

    border-radius: 1.6rem;

    a {
        display: grid;
        grid-template-columns: 1.5rem 1fr auto;
        align-items: center;
        gap: 1rem;

        padding: 2rem;

        text-decoration: none;

        &:last-child:hover {
            background-color: var(--error-color);
        }

        &:hover {
            background-color: var(--primary-color-normal);

            p,
            i {
                color: var(--neutral-color-lighter);
            }
        }
    }
}
