label {
    display: flex;
    align-items: center;
    gap: 1.2rem;

    input {
        background-color: inherit;

        color: var(--neutral-color-dark);

        inline-size: 30rem;

        font-weight: 400;

        &::placeholder {
            color: var(--neutral-color-normal);

            font-weight: 400;
        }
    }

    i {
        color: var(--neutral-color-normal);

        font-size: var(--font-size-tertiary-heading);

        cursor: pointer;

        &:hover {
            color: var(--primary-color-normal);
        }
    }
}
@media screen and (max-width: 850px) {
    label {
        input {
            inline-size: 100%;
        }
    }
}
