label {
    display: flex;
    align-items: center;
    gap: 1.2rem;

    input {
        background-color: inherit;

        width: 30rem;

        font-weight: 700;

        &::placeholder {
            color: var(--neutral-color-normal);

            font-weight: 400;
        }
    }

    i {
        color: var(--neutral-color-normal);

        font-size: var(--font-size-tertiary-heading);

        &:hover {
            color: var(--primary-color-normal);
        }
    }
}
