<div class="wrapper">
    <aside>
        <nav>
            <ul>
                <li>
                    <a (click)="loadContent = 1" [class.active]="loadContent === 1" routerLink="/profile"
                        ><i class="far fa-user"></i><span>داشبورد</span>
                    </a>
                </li>
                <li>
                    <a (click)="loadContent = 2" [class.active]="loadContent === 2" routerLink="/profile/shopping-cart"
                        ><i class="far fa-shopping-cart"></i><span>سبد خرید</span>
                    </a>
                </li>
                <li>
                    <a (click)="loadContent = 3" [class.active]="loadContent === 3" routerLink="/profile/credit"
                        ><i class="far fa-coins"></i><span>افزایش اعتبار</span></a
                    >
                </li>
                <li>
                    <button class="sign-out" (click)="authService.logout()">
                        <i class="far fa-arrow-right-from-bracket"></i><span>خروج</span>
                    </button>
                </li>
            </ul>
        </nav>
    </aside>
    <main>
        <app-dashboard *ngIf="loadContent === 1"></app-dashboard>
        <app-cart *ngIf="loadContent === 2"></app-cart>
        <app-alter-credit *ngIf="loadContent === 3"></app-alter-credit>
    </main>
</div>
