<div class="wrapper">
    <aside>
        <nav>
            <ul>
                <li>
                    <a (click)="loadContent = 1" [class.active]="loadContent === 1" routerLink="/profile"> داشبورد </a>
                </li>
                <li>
                    <a (click)="loadContent = 2" [class.active]="loadContent === 2" routerLink="/profile/orders">
                        سبد خرید
                    </a>
                </li>
                <li>
                    <a (click)="loadContent = 3" [class.active]="loadContent === 3" routerLink="/profile/credit">
                        افزایش اعتبار
                    </a>
                </li>
                <li><button class="sign-out" (click)="authService.logout()">خروج</button></li>
            </ul>
        </nav>
    </aside>
    <main>
        <app-dashboard *ngIf="loadContent === 1"></app-dashboard>
        <app-cart *ngIf="loadContent === 2"></app-cart>
        <app-alter-credit *ngIf="loadContent === 3"></app-alter-credit>
    </main>
</div>
