.wrapper {
    display: grid;
    grid-template-columns: minmax(10rem, 1fr) 3fr;
    align-items: start;
    gap: 2rem;

    padding: 0 var(--content-inline-padding);

    aside {
        nav {
            background-color: var(--neutral-color-light);

            border-radius: var(--border-radius-small);

            ul {
                display: flex;
                flex-direction: column;

                li {
                    a,
                    button {
                        display: inline-block;

                        inline-size: 100%;

                        padding: 1.6rem 3.2rem;

                        border-radius: var(--border-radius-small);

                        font-size: var(--font-size-paragraph);

                        text-align: right;

                        &.active {
                            background-color: var(--primary-color-normal);

                            color: var(--neutral-color-lighter);
                        }

                        &:hover {
                            background-color: var(--primary-color-light);

                            color: var(--neutral-color-lighter);

                            text-decoration: none;
                        }

                        &.sign-out:hover {
                            background-color: var(--error-color);

                            color: var(--neutral-color-lighter);
                        }
                    }
                }
            }
        }
    }

    main {
        background-color: var(--neutral-color-light);

        padding: 1.6rem;

        border-radius: var(--border-radius-small);
    }
}
