.wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    img {
        background-image: var(--image-background);

        inline-size: var(--compact-card-inline-size);
        aspect-ratio: 264/374;
    }

    h3 {
        direction: ltr;

        overflow: hidden;

        max-block-size: calc(3 * (var(--font-size-tertiary-heading)));

        max-inline-size: var(--compact-card-inline-size);

        line-height: var(--font-size-tertiary-heading);
    }
}
