.wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    img {
        background-image: var(--image-background);

        inline-size: var(--compact-card-inline-size);
        aspect-ratio: 264/374;
    }

    h2 {
        direction: ltr;

        max-inline-size: var(--compact-card-inline-size);
    }
}
