.search-box{
  display: flex;
  align-items: center;
  gap: 0.4rem;

}

input{
  background-color: var(--neutral-color-1);
  box-shadow: var(--box-shadow-soft);

  padding: 0.8rem 1.6rem;

  border: 1px solid var(--neutral-color-2);
  border-radius: 999px;

  outline: none;

  font-family: inherit;
  font-weight: 700;

  transition: 0.5s;

  &::placeholder{
    color: var(--neutral-color-3);

    font-weight: 400;
  }

  &:focus{
    flex: 1;

    border: 1px solid var(--secondary-color-2);
  }
}