<div class="hero">
    <img [src]="screenshotImageSrc" alt="" />
</div>

<div class="wrapper">
    <div class="info-wrapper">
        <div class="cover">
            <img [src]="coverImageSrc" alt="" />
        </div>

        <div class="tags">
            <ul>
                <li *ngFor="let genre of game.genres">{{ genre.name }}</li>
            </ul>
        </div>

        <div class="cta">
            <button (click)="cartService.addToList(game)">{{ addToCart }}</button>
        </div>
    </div>
    <div class="content">
        <div class="group">
            <h1 class="name">{{ game.name }}</h1>
            <p class="summary">{{ game.summary }}</p>
        </div>

        <div class="stats">
            <div class="box">
                <i class="fas fa-star"></i>
                <div>
                    <h3>{{ game.rating }} / 100</h3>
                    <p>{{ game.ratingCount }} نظر</p>
                </div>
            </div>

            <div class="box">
                <i class="fas fa-calendar"></i>
                <div>
                    <h3>{{ game.releaseDate | jalaliCalendar }}</h3>
                    <p>تاریخ انتشار</p>
                </div>
            </div>

            <div class="age-rating">
                <h1>{{ game.ageRatings[0].category | ageCategoryType }}</h1>
                <p>{{ game.ageRatings[0].rating | ageCategory }}</p>
            </div>
        </div>

        <div class="group" *ngIf="game.storyline">
            <h2 class="title">Story</h2>
            <p class="story">{{ game.storyline }}</p>
        </div>
    </div>
</div>

<app-slideshow [items]="game.screenshots | toSlideshowItem" *ngIf="game.screenshots.length > 0"></app-slideshow>

<div class="company" *ngIf="game.involvedCompanies[0]">
    <img [src]="companyImageSrc" alt="" *ngIf="game.involvedCompanies[0].company.logo" />

    <div class="company-info">
        <h2>{{ game.involvedCompanies[0].company.name }}</h2>

        <p class="company-type">{{ game.involvedCompanies[0].developer ? 'developer' : 'publisher' }}</p>

        <a [href]="game.involvedCompanies[0].company.url" *ngIf="game.involvedCompanies.length > 0"
            >company's website
        </a>

        <p>{{ game.involvedCompanies[0].company.description }}</p>
    </div>
</div>
