.wrapper {
    display: grid;
    grid-template-areas:
        "bread-crumb bread-crumb"
        "filter games";
    grid-template-columns: 30rem 1fr;
    align-items: start;
    gap: 2rem;

    padding: 0 var(--content-inline-padding);

    app-bread-crumb {
        grid-area: bread-crumb;
    }

    aside {
        grid-area: filter;

        position: sticky;
        inset-block-start: 1rem;
    }

    main {
        grid-area: games;

        gap: 2.4rem;

        header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1.2rem;

            .sorting {
                display: flex;
                align-items: center;
                gap: 1.2rem;

                p {
                    font-weight: 700;
                }

                ul {
                    display: flex;
                    gap: 1.2rem;

                    li {
                        cursor: pointer;

                        &.active {
                            color: var(--primary-color-normal);
                        }
                    }
                }
            }

            .offset-group {
                display: flex;
                align-items: center;
                gap: 1.2rem;

                button {
                    padding: 0.6rem 1.2rem;

                    &:hover {
                        background-color: var(--neutral-color-light);
                    }

                    &:focus {
                        background-color: var(--neutral-color-light);
                    }
                }
            }
        }
    }
}
