.wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    form {
        inline-size: 100%;

        label {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1.2rem;

            input {
                min-inline-size: 30rem;
            }
        }

        button {
            background-color: var(--primary-color-normal);
            color: var(--neutral-color-lighter);

            inline-size: 20rem;

            margin-block-start: 2.4rem;

            &:hover {
                background-color: var(--primary-color-dark);
            }
        }
    }

    input {
        padding: 1.2rem 1.6rem;

        border-radius: var(--border-radius-small);
    }
}
