section {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    width: 100%;

    padding-inline: var(--content-inline-padding);
}

.fog {
    position: relative;

    &::after {
        content: "";

        background-image: linear-gradient(to right, var(--neutral-color-lighter) 0, hsl(210deg 40% 98% / 0%));

        position: absolute;
        inset-block-start: 0;
        inset-inline-end: 0;

        width: 15%;
        height: 110%;

        transform: translateY(-5%);
    }

    .cards {
        overflow: hidden;

        display: flex;
        gap: 2.4rem;

        padding-block-start: 1.6rem;

        &:last-child {
            padding-inline-end: 15rem;
        }
    }
}

.buttons {
    display: flex;
    align-items: center;
    gap: 1.2rem;

    button {
        background-color: var(--primary-color-normal);

        color: var(--neutral-color-lighter);

        display: flex;
        align-items: center;
        justify-content: center;

        width: 3rem;
        height: 3rem;

        border-radius: 999rem;

        &:hover {
            background-color: var(--primary-color-dark);
        }
    }
}
