<section>
    <h2 class="title">{{ cardsTitle }}</h2>
    <div class="fog">
        <div class="cards" #outerContainer>
            <ng-container *ngFor="let game of games" class="inner-container">
                <app-card [game]="game"></app-card>
            </ng-container>
        </div>
    </div>
    <div class="buttons">
        <button (click)="scroll('left')"><i class="far fa-angle-right"></i></button>
        <button (click)="scroll('right')"><i class="far fa-angle-left"></i></button>
    </div>
</section>
