<button [popper]="popperContent" [popperPlacement]="NgxPopperjsPlacements.BOTTOMSTART">
    <i class="far fa-shopping-cart icon"></i>
</button>

<popper-content #popperContent>
    <div class="container">
        <div class="items">
            <div class="no-game" *ngIf="cartService.cartGames.length === 0">
                <i class="far fa-folder-open"></i>
                <h3>سبد خریدتون خالیه</h3>
            </div>

            <ng-container *ngFor="let game of cartService.cartGames">
                <app-shopping-cart-item [game]="game"></app-shopping-cart-item>
            </ng-container>
        </div>

        <ng-container *ngIf="authService.isUserLoggedIn; else notLoggedIn">
            <a class="shopping-cart" routerLink="/profile/shopping-cart">سبد خرید</a>
        </ng-container>

        <ng-template #notLoggedIn>
            <a routerLink="/login" class="auth">
                <i class="far fa-arrow-right-to-bracket"></i>
                <span>ثبت ‌نام | ورود</span>
            </a>
        </ng-template>
    </div>
</popper-content>
