label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    input {
        appearance: none;

        background-color: transparent;
        color: var(--neutral-color-normal);

        display: flex;

        inline-size: 3rem;

        padding: 0.2rem;

        border: 0.2rem solid currentcolor;
        border-radius: 999rem;

        &::after {
            content: "";

            background-color: var(--neutral-color-normal);

            block-size: 1rem;
            inline-size: 1rem;

            margin-inline-start: auto;

            border-radius: 999rem;
        }

        &:checked {
            background-color: currentcolor;
            color: var(--primary-color-normal);

            &::after {
                background-color: var(--neutral-color-light);

                margin-inline-start: 0;
            }
        }
    }
}
