<div class="shopping-cart">
    <h1>سبد خرید</h1>
    <div class="list">
        <div class="no-game" *ngIf="cartService.cartGames.length === 0">
            <i class="fa-regular fa-folder-open"></i>
            <h3>سبد خریدتون خالیه</h3>
        </div>

        <ng-container *ngFor="let game of cartService.cartGames">
            <app-cart-item [game]="game"></app-cart-item>
        </ng-container>
    </div>
    <h3 class="sum">
        مجموع:
        <span>{{ cartService.cartGames | sumPrices }} <i class="far fa-coins icon-special" title="لول کوین"></i></span>
    </h3>
    <div class="buttons">
        <app-primary-button
            [isLoading]="payButtonLoading"
            label="پرداخت"
            class="purchase"
            (click)="payHandler()"
        ></app-primary-button>
        <button class="clear" (click)="cartService.clearList()">خالی کردن سبد خرید</button>
    </div>
</div>
