<div class="shopping-cart">
    <h1>سبد خرید</h1>
    <div class="list">
        <div class="no-game" *ngIf="cartService.cartGames.length === 0">
            <i class="fa-regular fa-folder-open"></i>
            <h3>سبد خریدتون خالیه</h3>
        </div>

        <div class="list-item" *ngFor="let game of cartService.cartGames">
            <img [src]="'thumb' | imageSource: game.cover.id" alt="" />

            <h2>
                <a [routerLink]="'/game/' + game.id">{{ game.name }}</a>
            </h2>

            <p><i class="far fa-coins icon-special" title="لول کوین"></i> {{ game.price }}</p>

            <button (click)="cartService.removeFromList(game.id)">
                <i class="far fa-xmark"></i>
            </button>
        </div>
    </div>
    <h3 class="sum">
        مجموع:
        <span>{{ cartService.cartGames | sumPrices }} <i class="far fa-coins icon-special" title="لول کوین"></i></span>
    </h3>
    <div class="buttons">
        <button class="clear" (click)="cartService.clearList()">خالی کردن سبد خرید</button>
        <button class="purchase">پرداخت</button>
    </div>
</div>
