<div class="shopping-cart">
    <h1>سبد خرید</h1>
    <div class="list">
        <div class="list-item">
            <img src="" alt="" />

            <h2>
                <a>GAME TITLE</a>
            </h2>

            <p><i class="far fa-coins icon-special" title="لول کوین"></i> 324</p>

            <button>
                <i class="far fa-xmark"></i>
            </button>
        </div>

        <div class="list-item">
            <img src="" alt="" />

            <h2>
                <a>GAME TITLE</a>
            </h2>

            <p><i class="far fa-coins icon-special" title="لول کوین"></i> 324</p>

            <button>
                <i class="far fa-xmark"></i>
            </button>
        </div>
    </div>
    <button class="purchase">پرداخت</button>
</div>
