<div class="wrapper">
    <img [src]="getImageSource(game)" alt="" />
    <a [routerLink]="navigateToGamePage"
        ><h3>{{ game.name }}</h3>
    </a>
    <div class="price-box">
        <p *ngIf="isOnSale" class="discount-amount">-{{ calculateDiscount() }}%</p>

        <div [class.sale-original-price]="isOnSale" class="original-price">
            <i class="far fa-coins"></i>
            <p>{{ game.price }}</p>
        </div>

        <div *ngIf="isOnSale" class="sale-price">
            <i class="far fa-coins"></i>
            <p>{{ game.priceOnSale }}</p>
        </div>
    </div>
</div>
