<header (click)="isExpanded = !isExpanded">
    <p>{{ title }}</p>

    <i class="far fa-chevron-left" [class.expanded]="isExpanded"></i>
</header>

<section *ngIf="isExpanded">
    <app-expansion-search-box
        [placeholderText]="setPlaceholderText()"
        [(searchPhrase)]="searchPhrase"
    ></app-expansion-search-box>

    <ul>
        <li *ngFor="let item of expansionList | filter: searchPhrase" [class.checked]="item.isEnable">
            <label>
                <input type="checkbox" [(ngModel)]="item.isEnable" (ngModelChange)="itemsChange.emit($event)" />
                <p>{{ item.title }}</p>
            </label>
        </li>
    </ul>
</section>
