.library {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    .wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(var(--compact-card-inline-size), 1fr));
        gap: 4.8rem 2.4rem;
    }
}
