<form (submit)="loginSubmitHandler()">
    <h2>ورود</h2>

    <label>
        <span class="required">نام کاربری:</span>
        <input type="text" name="username" [(ngModel)]="user.username" required />
    </label>

    <label>
        <span class="required">کلمه عبور:</span>
        <input type="password" name="password" [(ngModel)]="user.password" required />
    </label>

    <app-primary-button label="ورود" [isLoading]="isLoading"></app-primary-button>

    <a routerLink="/register" class="additional-info"> حساب کاربری ندارم، می‌خواهم ثبت‌نام کنم </a>
</form>
