<form (submit)="loginSubmitHandler()">
    <h2>ورود</h2>

    <label>
        <span class="required">{{ username }}</span>
        <input type="text" name="username" [(ngModel)]="user.username" required />
    </label>

    <label>
        <span class="required">{{ password }}</span>
        <input type="password" name="password" [(ngModel)]="user.password" required />
    </label>

    <app-primary-button label="ورود" [isLoading]="isLoading"></app-primary-button>

    <a [routerLink]="registerLink" class="additional-info">{{ wantToSignUp }}</a>
</form>
