<form (submit)="loginSubmitHandler()">
    <h2>ورود</h2>

    <label>
        <span>نام کاربری:</span>
        <input type="text" name="username" [(ngModel)]="user.username" placeholder="نام کاربری" />
    </label>

    <label>
        <span>ایمیل:</span>
        <input type="email" name="email" [(ngModel)]="user.email" placeholder="ایمیل" />
    </label>

    <label>
        <span>کلمه عبور:</span>
        <input type="password" name="password" [(ngModel)]="user.password" placeholder="کلمه عبور" />
    </label>

    <button class="primary" type="submit">ورود</button>

    <a routerLink="/register" class="supporting-text"> حساب کاربری ندارم، میخواهم ثبت نام کنم </a>
</form>
