.slideshow {
    --active-index: 0;

    position: relative;

    ol {
        overflow: hidden;

        display: flex;

        list-style: none;

        li {
            flex: 0 0 100%;

            transform: translateX(calc(var(--active-index) * 100%));

            transition: transform 500ms ease-in-out;

            cursor: pointer;

            img {
                width: 100%;
                aspect-ratio: 7 / 3;
                object-fit: cover;
            }

            .content {
                --p-line-height: 1.8rem;

                background-color: var(--slideshow-content-color-background);

                backdrop-filter: blur(0.5rem);

                direction: ltr;

                position: absolute;
                inset-block-end: 10rem;
                inset-inline-start: 10rem;

                inline-size: 40%;

                padding: 2.4rem;

                border-radius: var(--border-radius-normal);

                text-align: left;

                h1,
                p {
                    color: var(--neutral-color-lighter);
                }

                p {
                    overflow: hidden;

                    block-size: calc(3 * var(--p-line-height));

                    margin-block-start: 1.2rem;

                    line-height: var(--p-line-height);
                }

                a {
                    display: inline-block;
                    color: var(--neutral-color-lighter);
                    text-decoration: none;
                    border: 0.1rem solid var(--neutral-color-lighter);
                    border-radius: var(--border-radius-small);
                    padding: 0.8rem 1.6rem;

                    margin-block-start: 1.6rem;

                    &:hover {
                        background-color: var(--neutral-color-lighter);
                        color: var(--neutral-color-darker);
                    }
                }
            }
        }
    }

    .overlay {
        position: absolute;
        inset-block-end: 0;
        inset-inline-start: 0;

        display: flex;
        flex-direction: column;
        gap: 2rem;

        padding: 2rem;

        .controls {
            opacity: 1;

            display: flex;
            align-items: center;
            gap: 1rem;

            transition: opacity 100ms ease-in-out;

            button {
                background-color: var(--neutral-color-lighter);

                display: flex;
                align-items: center;
                justify-content: center;

                width: 3rem;
                height: 3rem;

                border: 1px solid var(--neutral-color-light);
                border-radius: 999rem;

                &:hover {
                    background-color: var(--neutral-color-light);
                }
            }
        }

        .bullets {
            display: flex;
            gap: 1rem;

            transform: translateX(-1rem);

            i {
                background-color: var(--primary-color-light);

                display: block;

                width: 1em;
                height: 1em;

                border-radius: 999rem;

                font-size: 0.6rem;

                &.active {
                    background-color: var(--primary-color-normal);

                    width: 2em;
                }
            }
        }
    }

    &:hover {
        .overlay .controls {
            opacity: 1;
        }
    }
}
