/*
Design System

Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

White spaces (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

Shadows
0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);


*/

:root {
    --font-size-heading: 2.4rem;
    --font-size-sub-heading: 2rem;
    --font-size-tertiary-heading: 1.8rem;
    --font-size-paragraph: 1.4rem;
    --font-size-detail: 1.2rem;

    --primary-color-5: hsl(192deg 70% 13%);
    --primary-color-4: hsl(192deg 70% 35%);
    --primary-color-3: hsl(192deg 70% 43%);
    --primary-color-2: hsl(192deg 53% 55%);
    --primary-color-1: hsl(192deg 53% 77%);

    --secondary-color-5: hsl(201deg 100% 3%);
    --secondary-color-4: hsl(201deg 96% 10%);
    --secondary-color-3: hsl(201deg 93% 12%);
    --secondary-color-2: hsl(201deg 34% 32%);
    --secondary-color-1: hsl(201deg 16% 57%);

    --tertiary-color-5: hsl(32deg 100% 20%);
    --tertiary-color-4: hsl(32deg 100% 39%);
    --tertiary-color-3: hsl(32deg 100% 49%);
    --tertiary-color-2: hsl(32deg 97% 59%);
    --tertiary-color-1: hsl(32deg 96% 80%);

    --neutral-color-5: hsl(210deg 47% 11%);
    --neutral-color-4: hsl(210deg 25% 27%);
    --neutral-color-3: hsl(210deg 20% 65%);
    --neutral-color-2: hsl(210deg 13% 91%);
    --neutral-color-1: hsl(210deg 40% 98%);

    --box-shadow-hard: 0 0.4rem 1.6rem var(--neutral-color-2);
    --box-shadow-soft: 0 0.1rem 0.8rem var(--neutral-color-2);

    --content-max-width: 140rem;
    --content-inline-padding: 1.2rem;

    --card-padding: 2.4rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;

    scroll-behavior: smooth;

    font-family: Vazirmatn, sans-serif;
    font-size: 62.5%;
}

body {
    background-color: var(--neutral-color-1);
    color: var(--neutral-color-5);

    overflow-x: hidden;

    font-weight: 400;

    line-height: 1;

    button {
        background-color: transparent;

        padding: 1.2rem;

        border: none;
        border-radius: 10px;

        outline: none;

        cursor: pointer;

        &:hover {
            .icon {
                color: var(--primary-color-3);
            }

            .icon-special {
                color: var(--tertiary-color-4);
            }
        }

        &:focus {
            background-color: var(--neutral-color-2);

            .icon {
                color: var(--primary-color-3);
            }

            .icon-special {
                color: var(--tertiary-color-4);
            }
        }
    }

    main {
        display: flex;
        flex-direction: column;
        gap: 4.8rem;

        margin-block-end: 4.8rem;
    }

    input,
    label,
    select,
    textarea,
    button,
    fieldset,
    legend,
    datalist,
    output,
    option,
    optgroup {
        font-family: inherit;
    }
}

.icon {
    color: var(--secondary-color-3);

    font-size: 2.4rem;

    transition: 0.3s;

    &:hover {
        color: var(--primary-color-3);
    }
}

.icon-special {
    color: var(--tertiary-color-3);

    font-size: 2.4rem;

    transition: 0.3s;

    &:hover {
        color: var(--tertiary-color-4);
    }
}

h1 {
    font-size: var(--font-size-heading);
}

h2 {
    font-size: var(--font-size-sub-heading);
}

h3 {
    font-size: var(--font-size-tertiary-heading);
}

p {
    color: var(--secondary-color-5);

    font-size: var(--font-size-paragraph);

    line-height: 1.4;
}

.details {
    color: var(--neutral-color-3);

    font-size: var(--font-size-detail);
}

a {
    color: inherit;

    text-decoration: none;

    cursor: pointer;

    &:hover {
        color: var(--primary-color-3);

        text-decoration: underline;
    }
}

@media (width >= 480px) {
    :root {
        --content-inline-padding: 2rem;
    }
}

@media (width >= 600px) {
    :root {
        --content-inline-padding: 4rem;
    }
}

@media (width >= 768px) {
    :root {
        --content-inline-padding: 6rem;
    }
}

@media (width >= 900px) {
    :root {
        --content-inline-padding: 8rem;
    }
}

@media (width >= 1200px) {
    :root {
        --content-inline-padding: 12rem;
    }
}

@media (width >= 1920px) {
    :root {
        --content-inline-padding: calc(calc(100vw - var(--content-max-width)) * 0.5);
    }
}
