<section>
<div class="container">
    <h1 class="title">بازی های مورد انتظار در سال جاری</h1>
    <div class="cards">
    <app-card
            src="assets/card-images/goat-sim-3-compressed.jpg"
            alt="بازی شبیه ساز بز، نسخه سوم"
            title="شبیه ساز بز، نسخه سوم"
            description="در این بازی، شما فرصت این را دارید تا در یک شبیه ساز بز، زندگی را از جانب یک بز تجربه کنید!"
            price="288"> </app-card>

    <app-card
            src="assets/card-images/stray-compressed.jpg"
            alt="بازی ولگرد"
            title="ولگرد"
            description="زیر و بم شهر در زیر پنجه های شماست! دز این بازی از دید یک گربه به گشت و گذار در شهر می پردازیم."
            price="220"> </app-card>

    <app-card
            src="assets/card-images/as-dusk-falls-compressed.jpg"
            alt="بازی وقتی غروب میشود"
            title="وقتی غروب میشود"
            description="بازی ای که در طی دو تایم لاین متفاوت و به فاصله سی سال روایت می شود و همه چیز در آخر به دزدی ای فاجعه بار در آریزونا وصل می شود"
            price="220"> </app-card>

    <app-card
            src="assets/card-images/no-image.jpg"
            title="اسم ندارد"
            description="توضیح دادن چیزی که اسم ندارد بسیار سخت و گاه غیر ممکن است."> </app-card>

    <app-card
            src="assets/card-images/Saint-Row-compressed.jpg"
            alt="بازی سینز رو"
            title="سینز رو"
            description="سینتز رو با یه ریبوت جدید امسال برمیگرده. تو دنیای جهان باز شهر لوس ایلیو با گنگ خودتون هر کاری بخواید میتونید بکنید."
            price="390"> </app-card>
    </div>

</div>
</section>